.ft-des {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100% !important;
  font-size: xx-small;
  height: 30px;
  margin-top: 5px;
}

.copyright {
  text-align: center !important;
  padding-top: 5px;
  background-color: #294f8d;
}