.sidebar-btns {
  text-align: left !important;
}

.sidebar-link {
  text-decoration: none;
}

.sidebar-btns:hover {
  background-color:#294f8d !important;
}

.sidebar-btns:active {
  background-color: #294f8d !important;
}

.clinic-name {
  margin-top: 1px !important;
  background-color: #d3def0;
  margin-bottom: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  width: 90% !important;
}

/* .clinic-img {
  width: 90% !important;
} */

.sidebar-col {
  max-width: fit-content !important;
}
.sidebar{
  margin: "default";
  padding-top:4%;
  position: fixed;
  width: 10rem;
}


.all-btns{
  box-shadow: 0px 0px 25px 2px rgba(135, 135, 135, 1);
}