
.editAndAdd {
    transition-duration: 0.4s;
    float: right;
    border-color: transparent;
    border-radius: 4px;;
    background-color: white;
    font-size: small;
}

.editAndAdd:hover {
    background-color: #f9ebbe;
    color: #051329;
}

