.c-body {
  text-align: center !important;
  width: 18rem !important;
}

.c-body:hover {
  background-color: rgb(166, 166, 166);
}

.dashboardInfo{
  padding-top: 10px;
}
.mt-5{
  padding-left: 10px;
}

.tb-head {
  background-color: #feddba;
  /* background-color: #ffd2aa; */
  /* color: #051329; */
  /* border-style: hidden; */
}
.dashboardPage {
padding-top: 5%;
padding-bottom: 5%;
}
