.appointment-box {
  display: inline-block !important;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 5% !important;
}
.patientName{
  font-weight: bold;
}


.h5 {
  background-color: #051329;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px !important;
  padding: 10px !important;
}

.appointment-toggle-btn {
  float: right;
  margin-right: 25px;
}

.appointment-icon {
  margin-right: 0.5rem;
}

.right-side {
  box-shadow: -4px 6px 8px 5px rgba(230, 230, 230, 1);
}