
.patientList{
  margin-left: 3%;
}
.sidebar-box {
  align-content: flex-start !important;
  display: flex !important;
  justify-content: left !important;
}

.h5 {
  background-color: #033076;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px !important;
  padding: 10px !important;
}

.search {
  border-radius: 30px !important;
}

.patient-total-label {
  padding-left: 40px !important;
  padding-top: 8px !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px !important;
}

.list {
  text-align: left !important;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.patient-btns {
  background-color: #d3def0;
  color: black;
}

.add-patient-btn {
  background-color: #033076;
  margin-top: 3px;
}

.list-row {
  margin-top: 10px !important;
}

.row {
  background-color: transparent;
}

.patientInfo {
  background-color: transparent;
  text-align: left;

}

.patientName {
  color: rgb(12, 49, 104);
}

.patient-rec-box {
  margin-bottom: 40px !important;
  height: fit-content;
}

.patient-icon {
  margin-right: 0.5rem;
}

.patient-list-box{
  display: inline-block !important;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 4px !important;
}