@media screen and (min-width: 260px) {
  .popup {
    width: 90%;
    left: 5%;
  }
  .popup-inner {
    padding: 30px;
  }
}

@media screen and (min-width: 576px) {
  .popup {
    width: 70%;
    left: 16%;
  }
  .popup-inner {
    padding: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .popup {
    width: 50%;
    left: 27%;
  }
  .popup-inner {
    padding: 50px;
  }
}

.popup {
  position: fixed;
  top: 20%;
  height: 70vh;
  z-index: 1;
  overflow-y: auto;
  border-radius: 30px;
}

.popup-inner {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #d3def0 !important;
}

.close-btn {
  color: rgb(0, 0, 0) !important;
  position: absolute;
  top: 0px;
  right: 3px;
}

