.right-side {
  box-shadow: -4px 6px 8px 5px rgba(230, 230, 230, 1);
}


.PatientInfo {
padding-right: 3%;
  justify-content: left !important;
  /* font-size: 50px; */
}

.patientRecordPage{
  padding-top: 5%;
  padding-bottom: 5%;
}
.backPLBtn{
  border-color: transparent;
  background-color: transparent;
  color: white;
}

.backPLBtn:hover {
  transform: scale(1.5);
}

.patient-btns{
background-color: #feddba !important;
border-color: rgb(65, 65, 65)!important;
color: rgb(65, 65, 65) !important;
letter-spacing: 1px;
}
.patient-btns:hover {
  background-color: #f9ebbe !important;
  color: #051329 !important;
  font-size: large !important;
}
