/* .patient-list-box {
  display: inline-block !important;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 4px !important; */
/* } */

/* .sidebar-box {
  align-content: flex-start !important;
  justify-content: left !important;
  padding-top: 50px;
  
} */
.right-side {
  box-shadow: -4px 6px 8px 5px rgba(230, 230, 230, 1);
}


.PatientInfo {
padding-right: 3%;
  justify-content: left !important;
  /* font-size: 50px; */
}

/* .h5 { 
  background-color: #033076;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px !important;
  padding: 10px !important;
}

.search {
  border-radius: 30px !important;
}

.patient-total-label {
  padding-left: 40px !important;
  padding-top: 8px !important;
}

.list {
  text-align: left !important;
}

.patient-btns {
  background-color: #d3def0 !important;
  color: black !important;
} */
